.filtered-term {
  width: 20%;
  border: 3px solid #5D4954;
  border-right: 3px;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.filtered-term:focus {
  color: black;
}

.filtered-bar-container {
  display: flex;

  border-radius: 10px;
  padding: 5rem;
  /* margin: 5rem 5rem 5rem 5rem; */
  justify-content: center;
}

.button-icon-filter {
  width: 40px;
  height: 36px;
  border: 1px solid #5D4954;
  background: #5D4954;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}