
.single-book-container {
  width: 330px;
  align-content: flex-start;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 9px;
  box-shadow: 0 0 8px rgba(17, 17, 17, 0.116);
  background-color: rgba(41, 24, 24, 0.952);
  color: white;
  top:0;
  transition:.2s;
  position: relative;
}

.single-book-container:hover {
  top: -4px;
}
.single-book-container h2 {
  font-size: 18px;
}

.book-cover {
 width: 100%;
 height: 390px;
 object-fit: cover;
 border-radius: 9px
}
.book-info {
  height: 100px;
}

.button-single-book {
  text-decoration:none; 
  color:rgba(28, 190, 131, 1);
  background-color:transparent;
  border:1px solid rgba(28, 190, 131, 1);
  border-radius:100px;
  padding: .3em 1.2em;
  margin:5px;
  background-size: 200% 100%; 
  background-image: linear-gradient(to right, transparent 50%, rgba(28, 190, 131, 1) 50%);
  transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
}

.button-single-book:hover{
  color:rgba(255, 255, 255, 1);
  background-color:rgba(28, 190, 131, 1);
  background-position: -100% 100%;
}

.button-container {
  display: flex;
}


