/* .header-container {
  height: 10vh;
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  align-items:center;
  background-color: black;
  opacity: 0.8;
  z-index: initial;
}

.header-container h3 {
  border: black solid 1px;
  background-color: red;
  width:fit-content;
} */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #5D4954;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px
}

.logo a {
  color: rgb(226, 226, 226);
  text-decoration: none
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(226, 226, 226);
  text-decoration: none; letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}